
.feedback-form-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.feedback-form-container{
    width: 60%;
}

.feedback-stars{
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
}

@media (max-width: 1000px) {
    .feedback-form-container{
        width: 90%;
    }
}

@media (max-width: 600px) {
    .feedback-form-container{
        width: 100%;
    }
}