
/* Home page */

.video-banner img{
    /* border: 1px solid black; */
    filter: drop-shadow(0 0px 2px #919EAB);
}


#doctorNameBadge .doctorName{
  font-size: 18px;
  font-weight: 800 !important;
  color: #435ba1;
  margin-bottom: 10px;
}

#doctorNameBadge .doctorSpecialization{
  font-size: 15px;
  font-weight: 800 !important;
  color: var(--primary-color);
  margin: 0;
}

/* consent form style */

.gallery-img a{
    color: #435ba1 !important;
}

.consent-forms-container{
    background-color: rgb(252, 247, 247);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 250px;
  }
  
  .consent-forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    gap: 20px;
  }

  .consent-forms p {
    text-align: center;
    font-size: 14px !important;
  }
  
  .consent-forms img{
    width: 50px;
    height: auto;
  }

  /* Background */

  .gradient-bg{
    background: rgb(220,20,60);
    background: linear-gradient(142deg, rgba(220,20,60,1) 0%, rgba(40,59,106,1) 40%, rgba(0,0,0,1) 93%);
  }


  /* Blog */

  .postDescription{
    width: 100% !important;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
   height: 5rem;
  } 

  @media (max-width: 1200px) {

    .about-title{
      display: none !important;
    }

    .about-section{
      padding-top: 80px !important;
    }

  }