#insuranceNumberInput{
  display: none;
}

.appointment_dropdown{
    position: relative;
  display: block;
  margin-bottom: 30px; 

}

.appointment_dropdown_content{
  display: none;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #f6f6f6;
  position: absolute;
  background-color: #fff;
  z-index: 50;
}

.appointment_dropdown_content p{
  padding: 12px 16px;
  margin: 0;
}


.appointment_dropdown_content p:hover{
    background-color: #f6f6f6;
    cursor: pointer;
}

.visible_appointment_dropdown_content{
    display: block !important;
}

#WorkingDaysAndAppointmentLink{
  margin-left: 16px;
  display: none;
  flex-direction: column;
  gap: 10px;
}

#appointmentClinicWorkingDaysPara{
  font-size: 12px !important;
  line-height: 20px;
  margin: 0;
  /* display: none; */
}

#bookAppointmentClinicWebsite{
  font-size: 13px !important;
  font-weight: 500 !important;
  color: rgb(33 52 96) !important;
  text-decoration: underline !important;
  cursor: pointer;
}

/* .appointment_dropdown:hover .appointment_dropdown_content{
    display: block;
} */