
.scrollable-blog-container{
    position: relative;
}

.scrollable-blog-buttons-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-container-wrapper{
    width: 100%;
    overflow-x: scroll; /* Enable horizontal scrolling */
    /* white-space: nowrap; */
}

.blog-container-row{
    width: 100%;
    display: flex;
    gap: 16px;
}

.blog-container-card{
    width: 300px !important;
    /* display: inline-block; */
    /* padding: 0 16px; */
}

.blog-container-card-item{
    width: 300px !important;
}

#blogScrollSlideRight{
    position: absolute;
    right: -50px;
    top: 50%;
    z-index: 1;
}

#blogScrollSlideLeft{
    position: absolute;
    left: -50px;
    top: 50%;
    z-index: 1;
}

#blogScrollSlideRight, #blogScrollSlideLeft{
    width: 40px; 
     height: 40px;
     background-color: #848e9f;
    border-radius: 50%;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .scrollable-blog-buttons-container{
        display: none;
    }
}