.blog-scroll-cover {
    position: relative;
}

.blog-scroll-arrows{
    display: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ccc;
}

.blog-scroll-arrows i{
    color: var(--primary-color);
}

.blog-scroll-arrow-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.blog-scroll-arrow-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.blog-scroll-container {
    width: calc(100% - 100px);
    margin: auto;
    height: auto;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.blog-container-card{
    min-width: 300px;
}

@media screen and (max-width: 768px) {
    .blog-scroll-arrows{
        display: none !important;
    }
    .blog-scroll-container {
        width: 100% !important;
    }
}