.external-link-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
    padding-right: 16px;
}

.external-link h5{
    font-size: 16px;
    margin-bottom: 8px;
}

.external-link a{
    text-decoration: none !important;
}

.external-link a:hover{
    text-decoration: underline !important;
}

@media screen and (min-width: 600px) {
    .external-link-list{
        gap: 15px;
    }
    .external-link h5{
        font-size: 14px;
    }
    .external-link a{
        font-size: 12px;
    }
}